NEXT_PUBLIC_WHATSAPP_NUMBER=919006344687
NEXT_PUBLIC_FORMSPREE_STEP1_ENDPOINT=your_formspree_step_1_endpoint
NEXT_PUBLIC_FORMSPREE_STEP2_ENDPOINT=your_formspree_step_2_endpoint
NEXT_PUBLIC_TALLY_FORM_URL=your_tally_form_url_optional
